.home {
    color: #2c2c2c;
    font-family: Arial, Tahoma, Bitstream Vera Sans, sans-serif;
    background: #f2f2f2;

    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}